@font-face {
  font-family: "objectsans";
  src: url("../public/fonts/ObjectSansRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "objectsans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    -10deg,
    rgba(228, 218, 248, 0.952),
    rgba(255, 255, 255, 0.8)
  );
  background-repeat: no-repeat;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  gap: 25px;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-logo {
  padding-top: 15px;
  height: 7vmin;
  pointer-events: none;
}

.disclaimer {
  flex: 1;
  font-size: 1em;
  color: #333;
  text-align: center;
  margin: 116px;
  padding-inline: 20rem;
}

.client-section {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  gap: 5em;
  flex-wrap: wrap;
}

/* Status Container Styles */

.approach-backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 300px;
  height: 60%;
  background-color: #e2dde6;
  border-radius: 22px;
  margin: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.approach-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 97%;
  background-color: #ffffff;
  border-radius: 14px;
}

.approach-title {
  font-size: 35px;
  text-align: center;
  color: #333;
  transition: color 0.1s ease-out;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.status-title {
  font-size: 25px;
  text-align: center;
  color: #333;
  transition: color 0.1s ease-out;
}

.status {
  font-size: 1.5em;
  color: #a34cdb;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-title {
  font-size: 23px;
  color: #333;
}

select {
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 1em;
  font-family: "objectsans", sans-serif;
  background-color: rgb(245, 244, 244);
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='purple' width='24px' height='24px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.5em;
  padding-right: 40px;
  width: 100%;
}

select:hover {
  background-color: #e2dfdf;
}

select:active {
  outline: none;
  background-color: #e2dfdf;
}

select:focus {
  outline: none;
}

select option {
  background-color: white;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 10rem;
}

select option:hover {
  background-color: #eaeaec;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 10rem;
}

.button {
  background-color: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: "objectsans", sans-serif;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  border-radius: 10rem;
}

.button:hover {
  background-color: #a34cdb;
}

.button:active {
  background-color: #551e8f;
}

.button.fetching {
  background-color: #551e8f;
  cursor: default;
}

.button.awaiting {
  display: none;
}

.button.completed {
  color: #a7a7a7;
  background-color: black;
}

.button.translate {
  background-color: #a34cdb;
}

.button.translate:hover {
  background-color: #551e8f;
}

.button.fetching:hover,
.button.fetching:active {
  background-color: #551e8f;
}

/* Middle Container Styles */

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  min-width: 500px;
  height: 50%;
  margin: 10px;
}

.middle-container table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  font-size: 1.1em;
}

.middle-container td,
.middle-container th {
  padding: 10px;
  text-align: center;
}

.middle-container tr:nth-child(1) td {
  background-color: #4a315f;
  color: rgb(255, 255, 255);
  height: 20%;
}

.middle-container tr:nth-child(2n + 2) td {
  background-color: #f4f4f4;
}

.middle-container tr:nth-child(2n + 3) td {
  background-color: white;
}

.middle-container .button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 1536px) {
  .client-section .middle-container:nth-child(2) {
    order: 3;
  }

  .disclaimer {
    margin: 50px;
    padding-inline: 10rem;
  }

  select {
    width: 90%;
    font-size: 10px;
  }
}

@media (max-width: 980px) {
  .App-header {
    font-size: 30px;
    flex-direction: column;
    gap: 5px;
  }

  .App-logo {
    padding-top: 70px;
    min-height: 5vmin;
  }

  .disclaimer {
    padding-inline: 0px;
  }
}

@media (max-width: 816px) {
  .App-header {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .middle-container {
    min-width: 350px;
  }

  .App-header {
    font-size: 15px;
  }
}
